<h2>Lista de Postagens</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>



{{#each postagens}}
<div class="card">
    <div class="card-body">
       <h4>{{titulo}}</h4> 
       <p>Descrição: {{descricao}}</p>
       <small>Data: {{data}}</small>
       <small>Categoria: {{categoria.nome}}</small><br>
       <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editar Postagens</button></a>
        <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar Postagens</button></a>
    </div>
</div>


{{else}}
    <p>Nenhuma postagem resgitrada</p>
{{/each}}