

<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do Node</h1>
  <p class="lead">Este é um blog simples, desenvolvido com Node.js Express e MongoDb</p>
  <hr class="my-4">
  <p>Aqui vc pode ler mais sobre música Erudita</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>
<h2>Postagens Recentes</h2>
{{#each postagens}}
    <div>
        <div class="card-body mt-4">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}">  <button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Categoria {{categoria.nome}}</small>
            <small>Data de Publicação: {{data}}</small>
        </div>
    </div>
    {{else}}
        <h5>Nenhuma postagem</h5>
    {{/each}}